{% if user.is_authenticated %}

<h1>You are logged In as "{{user.username}}"</h1>

<form action="{% url 'user_logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}

<a href="{% url 'loginuser' %}">Login</a>
<a href="{% url 'signupuser' %}">Sign up</a>

{% endif %}

<br><br>

<a href="{% url 'createtodos' %}">Create Todos</a>
<a href="{% url 'completedtodos' %}">Completed Todos</a>  
<a href="{% url 'currenttodos' %}">Current Todos</a>
<br>

{% block content %}
{% endblock %}